@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container">
        <div class="preview">
            <div class="previewsecondLevel">Try it myself</div><br>
            <p>Hello World</p>
        </div>
        <div class="preview2">
            <div class="preview2secondLevel">Try it myself with <br> more style element</div> <br>
            <p>Hello World</p>
        </div>
    </div>

</main>